@font-face {
    font-family: 'Fira Sans';
    src: url('../EPYMT2018TMA/FiraSans-Regular.ttf');
}

@font-face {
    font-family: 'Fira Mono';
    src: url('../EPYMT2018TMA/FiraMono-Regular.ttf');
}

body {
    background: rgb(240,240,220);
    color: rgb(100,80,80);
    font-family: 'Fira Sans';
}

a {
    color: rgb(100,80,80);
}

h1 {
    font-size: 50px;
    line-height: 0.8;
}

h2 {
    font-size: 35px;
    line-height: 0.8;
}

h3 {
    font-size: 30px;
    line-height: 0.8;
}

h4 {
    font-size: 25px;
    line-height: 0.8;
}

p, div, ul, li, math {
    font-size: 22px;
    line-height: 1.5;
}

math {
    font-family: 'Fira Mono';
}

.black_border {
    border-color: rgb(100,80,80);
    border-width: 1;
    border-style: solid;
    text-align: center;
    display: inline-block;
}
